.jumbotron {
	background-image: url("img/ross_rachel2.jpg");
	background-size: cover;
	height: 38rem;
}

.jumbotron h1 {
	color: white !important;
	font-family: 'Alegreya Sans', sans-serif;
}

.jumbotron p {
	color: white !important;
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 300;
}

#friends_logo {
	width: auto;
	height: 70%;
}

.navlinks {
	color: #00bfff !important;
}

h1#about {
	margin-top: 6%;
	font-family: 'Alegreya Sans', sans-serif;
	margin-left: 2rem;
}

.abtcontent {
	font-family: 'Alegreya Sans', sans-serif;
	margin-left: 2rem;
	font-size: 16px;
}

#aboutphoto {
	width: 100%;
	height: 50%;
	margin-top: 4%;
}

#image-grid {
	padding: 1rem;
}

p.homeP {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 300;
	margin-left: 2rem;
	margin-right: 2rem;
	font-size: 18px;
}

h2 {
	margin-left: 2rem;
	font-family: 'Alegreya Sans', sans-serif !important;
	font-weight: 400 !important;
}

#footer {
	margin-bottom: 0;
}

#home_icon {
	margin-right: 0.7rem;
	color: black;
}

#home_icon:hover {
	color: #333333;
}

.thumbnail {
	border: none !important;
	position:relative;
}
.bio_pictures {
	border-radius: 100%;
	margin-top: 6rem;
}

.thumbnail a>img, .thumbnail>img {
	width: 100%;
}
.thumbnail.characters>img {
	width: 60%;
}

.character-grid p {
	text-align: center;
	font-family: 'Alegreya Sans', sans-serif !important;
}

#modalbtn {
	padding: 0.8rem;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    margin-left: 14rem;
    margin-right: 14rem;
}

#gif {
	margin-left: 24%;
	margin-right: 24%;
}

.post-content {
    position: absolute;
    background-color: white;
    opacity: 0.75;
    width: 100%;
    bottom: 0;
    left:0;
}

.episode {
	font-family: 'Alegreya Sans', sans-serif !important;
	text-align: center;
	font-weight: 300;
}

@media (max-width: 480px) {
	#image-grid .grid-item {
		clear:left;
		width: 100%;
	}
	.jumbotron {
		background-image: url("img/ross_rachel_small.jpg");
	}
	.jumbotron h1 {
		margin-top: 16rem;
		text-align: center;
		font-family: 'Alegreya Sans', sans-serif;
	}
	.jumbotron p {
		text-align: center;
		font-family: 'Alegreya Sans', sans-serif;
	}

	h2 {
		text-align:center;
		margin-left: 0;
	}

	p.homeP {
		text-align: center;
	}

	img.bio_pictures {
		display: none !important;
	}

	#modalbtn {
		width: 100%;
		margin-top: 3rem;
	    margin-left: 0.8rem;
	    margin-right: 0.8rem;
	}

	#gif {
		margin-left:0;
		width: 100%;
	}
}

@media (min-width: 770px) {
	#image-grid {
		margin-left: 0.3rem;
	}
}

@media (min-width: 830px) {
	#image-grid {
		margin-left: 0.3rem;
	}
}

@media (min-width: 768px) {
	#image-grid {
		padding: 1rem;
		margin-left: 5rem;
		margin-right: 5rem;
	}
}

@media (min-width: 992px) {
	#image-grid {
		margin-left: 25%;
	}
}

@media (min-width: 1024px) {
	#image-grid {
		margin-left: 25%;
	}
}
